body {
    font-family: dunbar-tall, sans-serif;
    margin: 3rem;
    background-color: black;
    color: white;
}

h1 {
    font-size: 24pt;
    font-weight: 400;
    font-style: normal ;
    text-align: left;
    letter-spacing: 10pt;
    text-transform: uppercase;
    position:fixed;
    top: 2vh;
}

nav {
    font-size: 18pt;
    font-weight: 400;
    font-style: normal ;
    text-align: left;
    letter-spacing: 4pt;
    text-transform: uppercase;
    line-height: 3rem;
    text-indent: -2.5rem;
    position:fixed;
    top: 8vh;
}

ul {list-style: none;}

a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
}
a:hover {
    color: white;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

span {
    font-size: 12pt;
    font-weight: 400;
    font-style: normal ;
    letter-spacing: 4pt;
    text-transform: uppercase;
    text-align: center;
}

.js-filter-material  {
    /* border: solid blue 3px; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 2vw;
    margin-left: 15vw;
    margin-top: 25vh;
}
.material {
    display: inline-block;
    /* border: solid pink 2px;  */
    width: 18vw;
    height: 8vh;
}

.js-container {
    /* border: solid green 2px;  */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* display: flex;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto; */
    /* justify-content: center;
    align-items: center; */
}
.js-filter-time  {
    /* border: solid lightblue 3px;  */
    width: 15vw;
    height: auto;
}
.time {
    display: inline-block;
    /* border: solid lightblue 3px;  */
    width: 10vw;
    height: 12vh;
    padding-top: 10vh;
    text-align: left;
    margin-bottom: 0.5vh;
}

.imgs-container {
    /* border: solid orange 3px;  */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 2vw;
}
.ice-img {
    width: 18vw;
    height: 22vh;
    object-fit: cover;
    margin-bottom: 0.5vh;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
img:hover {
    transform: scale(2);
    transition: all 0.2s ease-in-out;
}

#rightMargin {
    margin-right: 2vw;
}

@media only screen and (max-width: 812px) {  
    
}